{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Hi! this is a blog made as a proof of concept with flask and a little bootstrap, 
        if you're interested in my real blog you can find a link below, 
        although I don't update it regularly as you may notice:</p>
      <a class="btn btn-primary" href="https://ivanotes.wordpress.com/">My real blog</a>
      <p>Note 2: My real blog is in spanish.</p>
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}